{% extends "EstinaHomeBundle::layout.html.twig" %}
{% block body %}

    
    <div class="gallery">    
        <div class="container">
            <div class="row text-center">
                <h2>{{ 'homepage.text.gallery'|trans}}</h2>
            </div>
            <div class="list">
                {% for photo in photos %}
                    <img src="/images/photos/{{ photo }}" alt="">
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="about" class="event-details about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 hidden-xs wrapper">
                    <div class="visual"></div>
                </div>
                <div class="col-md-6 wrapper">

                    <h2 class="text-center">{{ 'homepage.text.about_title'|trans }}</h2>

                    <p>{{ 'homepage.text.about_p1'|trans}}</p>
                    
                    <p>{{ 'homepage.text.about_p2'|trans}}</p>
                    <p class="cta-container"><a href="{{ path('talk_register') }}" class="btn btn-primary btn-register"> {{ 'homepage.button.register'|trans }}</a></p>
                    {% if "now"|date("Y-m-d") > registration_deadline %}
                        <p class="cta-container"><strong>{{'homepage.text.registration_ended'|trans}}</strong></p>
                    {% elseif "now"|date('Y-m-d') < registration_start %}
                        <p class="cta-container"><strong>{{ 'homepage.text.registration_not_open'|trans}}</strong></p>
                    {% else %}
                        <p class="cta-container"><a href="{{ path('talk_register') }}" class="btn btn-primary btn-register"> {{ 'homepage.button.register'|trans }}</a></p>
                    {% endif %}

                </div> 
            </div>
        </div>
    </div>

    <div class="hackercamp">
        <div class="container">
            <div class="row">
                <h2>{{ 'homepage.text.hacker'|trans}}</h2>
                <div class="col-md-8">
                    <div class="hacker">{{ 'homepage.text.hacker.translation'|trans|raw}}</div>
                </div>
                <div class="col-md-4 desc">
                    <p>{{ 'homepage.text.hacker.description'|trans}}</p>
                </div> 
            </div>
        </div>
    </div>

    <div class="participation">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2>{{ 'homepage.text.participation'|trans}}</h2>
                    <p>{{ 'homepage.text.participation.description'|trans}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="/images/participation-presentation.png" alt="Presentation" class="img-responsive">
                    <h3>{{ 'homepage.text.participation.presentation'|trans}}</h3>
                    <p>{{ 'homepage.text.participation.presentation.desc'|trans}}</p>
                </div>
                <div class="col-md-4">
                    <img src="/images/participation-workshop.png" alt="Workshop" class="img-responsive">
                    <h3>{{ 'homepage.text.participation.workshop'|trans}}</h3>
                    <p>{{ 'homepage.text.participation.workshop.desc'|trans}}</p>
                </div>
                <div class="col-md-4">
                    <img src="/images/participation-volunteers.png" alt="Volunteer" class="img-responsive">
                    <h3>{{ 'homepage.text.participation.volunteer'|trans}}</h3>
                    <p>{{ 'homepage.text.participation.volunteer.desc'|trans}}</p>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
