<!--===============================-->
<!--== Register ===================-->
<!--===============================-->
<section id="register" class="row">
    <div class="col-sm-12">
        <div class="section-header text-center">
            <h2>Registracija</h2>
            <p>
                <span class="label label-danger">DĖMĖSIO!</span> <strong>Registracija baigėsi Liepos 14 dieną!</strong><br>
                Jei turite klausimų, rašykit <a href="mailto:hi@notrollsallowed.com">hi@notrollsallowed.com</a>.
            </p>
            {#
            <p><span class="label label-danger">DĖMĖSIO!</span> <strong>Registracija baigiasi Liepos 14 dieną!</strong></p>
            <h4>Norėdami dalyvauti festivalyje, privalote laikytis pagrindinės taisyklės - norintys dalyvauti renginyje, privalo paruošti pranešimą!*</h4>
            <p><small>* Pranešėjui leidžiama atsivežti šeimą ar 1 draugą, kurių saugumas bus užtikrintas jiems net ir neskaitant pranešimų.</small></p>
            #}
        </div>
    </div>
    {#
    <div class="col-sm-12">
        <form id="register-form" method="post" class="form" action="{{ path('register') }}">
            <div class="col-md-6 col-sm-6">
                {{ form_widget(form.title) }}
            </div>
            <div class="col-md-6 col-sm-6">
                {{ form_widget(form.description) }}
            </div>
            <div class="col-md-3 col-sm-6">
                {{ form_widget(form.speaker) }}
            </div>
            <div class="col-md-3 col-sm-6">
                {{ form_widget(form.email) }}
            </div>
            <div class="col-md-3 col-sm-6">
                {{ form_widget(form.phone) }}
            </div>
            <div class="col-md-3 col-sm-12">
                <input type="submit" value="Registruotis" name="submit">
            </div>
            <p class="form-notification" style="display: none;">
            Registracija sėkminga!<br>Netrukus jūsų pranešimas bus patvirtintas.<br>
            <small>(patvirtinimo žinutė nėra siunčiama)</small>
            </p>
            {{ form_widget(form._token) }}
        </form>
    </div>
    #}
</section>
<!--==========-->
