<!--===============================-->
<!--== Speakers ===================-->
<!--===============================-->
<section id="speakers" class="row separated">
    <div class="col-sm-12">
        <div class="section-header text-center">
            <h2>Pranešimai</h2>
            <h4>Šiuo metu užregistruota pranešimų: <strong>{{ talks|length }}</strong></h4>
            <p>Jei užsiregistravote, bet nematote savo pranešimo arba norite patikslinti aprašymą ar pavadinimą - <a href="http://wiki.notrollsallowed.com/Kontaktai">susisiekite</a> su mumis.
            Pranešėjų nuotraukos pateikiamos iš <a href="http://gravatar.com/">Gravatar</a> svetainės.</p>
        </div>
    </div>
    {% for talk in talks %}
    <div class="col-md-3 col-sm-4">
        <div class="speaker js-tooltip" title="{{ talk.description }}">
            <div class="speaker-info">
                <div class="speaker-photo">
                    <img src="{{ talk.email|gravatar }}" alt="{{ talk.speaker }}">
                </div>
                {#
                <div class="speaker-contacts">
                    <a href="#" class="contact pull-left fa fa-facebook"></a>
                    <a href="#" class="contact pull-right fa fa-twitter"></a>
                </div>
                #}
            </div>
            <h3>{{ talk.speaker }}</h3>
            <p>{{ talk.title }}</p>
        </div>
    </div>
    {% endfor %}
</section>
<!--==========-->
