{% extends "EstinaHomeBundle::page.html.twig" %}

{% block content %}
    <h1>Pranešimai</h1>

    <div class="schedule">
        <div class="container">
            <div class="row">
                {% for track in tracks  %}
                    <div class="col-md-3 track">
                        <h2>{{ track.title }}</h2>
                        {% if track.talks %}
                            {% for talk in track.talks %}
                                {% if talk.status == 'accepted' %}
                                <div class="events">
                                    <a href="{{ path('talk', {'id': talk.id}) }}">
                                        <img src="{{ talk.user.email | gravatar }}" class="avatar">
                                    </a>
                                    <div class="events-body">
                                        <h3><a href="{{ path('talk', {'id': talk.id}) }}">{{ talk.title }}</a></h3>
                                        <h4>{{ talk.user.name }}</h4>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                {% else %}
                    <p>Paskelbtų pranešimų dar nėra. Bet jau greitai!</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
