{% extends "EstinaHomeBundle::page.html.twig" %}

{% block content %}
    <h1>{{ talk.title }}</h1>
    <p>
        {{ talk.description|markdown }}
    </p>
    <p>Scena: {{ talk.track.title }}</p>
    <div class="events">
        <img src="{{ talk.user.email | gravatar }}" class="avatar">

        <div class="events-body">
            <h4>{{ talk.user.name }}</h4>
        </div>
    </div>
{% endblock %}
