{% extends "EstinaHomeBundle::page-wide.html.twig" %}

{% block content %}

<div class="schedule">
    
    {# <h1>Schedule</h1> #}

    {# <ul>
    {% for day in days %}
        <li><a href="{{ path('timetable', {'day': day}) }}">Day {{ day }}</a></li>
    {% endfor %}
    </ul>

    {% for day in timetable %}
        <h2>Day #{{ day.title }}</h2>
        <table border=0 width=100%> 
            <thead>
                <td>Time</td>
                <td>Presentation</td>
            </thead>
            <tbody>
            {% for time, row in day.rows  %}
                <tr>
                    <td style="vertical-align: top">{{ time }}</td>
                    <td>
                    {% for talk in row %}

                            {% if talk.title is defined %}
                            <div class="panel panel-default {{ talk.track.title|lower }}">
                                <div class="panel-heading">
                                    <h3 class="panel-title" style="font-weight: bold">{{ talk.title }}</h3> <span style="font-size: 10px"> ({{ talk.author }})</span>
                                </div>
                                <div class="stage-name" style="padding-left:5px">{{ talk.track.title }}
                                    <div class="right" style="float:right;">
                                        <div title="Add to Calendar" class="addeventatc">
                                            Add
                                            <span class="start">{{ time|date('m/d/Y g:i A') }}</span>
                                            <span class="end">{{ time|date('m/d/Y g:i A') }}</span>
                                            <span class="timezone">Europe/Vilnius</span>
                                            <span class="title">{{ talk.title }}</span>
                                            <span class="description">{{ talk.description }}</span>
                                            <span class="location">{{ talk.track.title }}</span>
                                        </div>
                                    </div></div>
                            </div>
                            {% endif %}

                    {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %} #}
    
    <div class="nav">
        <ul>
            <li><a data-track="1" href="">Analog</a></li>
            <li><a data-track="2" href="">Digital</a></li>
            <li><a data-track="3" href="">/dev/random</a></li>
            <li><a data-track="4" href="">Workshops</a></li>
            <li><a data-track="fav" class="fav" href="">★</a></li>
        </ul>
    </div>

    <div class="talks"></div>

</div>

<script id="talk-template" type="text/html">
    <div class="row talk" data-id="{id}">
        
        <div class="col-xs-2 avatar">
            <img src="{authorAvatar}" alt="">
        </div>

        <div class="col-xs-8 meta">
            <h3>{title}</h3>
            <div class="author">{author}</div>
            <div class="track">{trackTitle}</div>
        </div>

        <div class="col-xs-2 time">
            <span>{time}</span>
            <i>★</i>
        </div>
        
    </div>
</script>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src='/js/schedule.js' async defer></script>
{% endblock %}
