{% extends "EstinaHomeBundle::page-wide.html.twig" %}

{% block content %}
    <h1>Dirbtuvės ir užsiėmimai</h1>

    <div class="row schedule">
        {% set count = 0 %}
        {% for index, track in tracks  %}
            {% for talk in track.talks|reverse %}
                {% if talk.status == 'accepted' %}
                    {% set count = count+1 %}
                    <div class="col-md-3">
                        <div class="talk">
                            <a href="{{ path('talk', {'id': talk.id}) }}"><img src="{{ talk.user.email | gravatar }}" alt="{{ talk.user.name }}" class="media-object img-rounded"></a>
                            <h4><a href="{{ path('talk', {'id': talk.id}) }}" title="{{ talk.title }}">{{ talk.title }}</a></h4>
                            <p><strong>
                                {% if talk.organizer %}
                                {{ talk.organizer }} 
                                {% else %}
                                {{ talk.user.name }}
                                {% endif %}
                            </strong></p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% if count % 4 == 0 %}
            </div><div class="row schedule">
            {% endif %}
        {% endfor %}

        {% if count == 0 %}
            <div class="col-md-12">
                <p>Patvirtintų dirbtuvių dar nėra.</p>
            </div>
        {% endif %}
    </div>


{% endblock %}
