<!DOCTYPE html>
<html lang="lt">
	<head>
        <title>No Trolls Allowed 2018 | {% block title %}The first and only Hackercamp in Lithuania!{% endblock%}</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta charset="utf-8">

		<!--== Google Fonts ==-->
        <link href="http://fonts.googleapis.com/css?family=Lato:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic&subset=latin,latin-ext" rel="stylesheet" type="text/css">

        <link rel="shortcut icon" type="image/png" href="{{ asset('images/favicon.png') }}">
        <link rel="bookmark" type="image/png" href="{{ asset('images/favicon.png') }}">

		<!--== CSS Files ==-->
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        {% stylesheets
            'css/site.min.css'
            filter='cssrewrite' output='css/compiled/all.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets
            'css/main.css'
            filter='cssrewrite' output='css/compiled/main.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

		<!--== FB meta ==-->
        <meta property="og:url" content="{{ url('home') }}">
        <meta property="og:title" content="No Trolls Allowed 2018 | The One Hackercamp of Lithuania">
        <meta property="og:description" content="No Trolls Allowed is an annual open-air hackercamp where hobbies and arts meet technology and awesomeness.">
        <meta property="og:image" content="{{ asset('images/basic-sticker.png') }}"/>
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="310">
        <meta property="og:image:height" content="300">
    </head>

    {% set controller = app.request.get('_template').template().get('controller') %}
    {% set action = app.request.get('_template').template().get('name') %}
    
    <body data-controller="{{ controller }}"
          data-action="{{ action }}">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nta-navbar">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('home') }}">
                        <img src="{{ asset('images/logo.png')}}">
                        <img class="logo-title" src="{{ asset('images/nta_logo.png')}}">
                    </a>
                </div>

                <div class="pull-right hidden-xs hidden-sm">
                    {% if not is_granted("ROLE_USER") %}
                        <a href="{{ path('login_route') }}" class="navbar-btn btn">Login</a>
                    {% else %}
                        <ul class="nav navbar-default navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <strong>{{ app.user }}</strong> <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('user_profile') }}">My presentations</a></li>
                                    <li><a href="{{ path('user_profile_edit') }}">Profile</a></li>
                                    {% if is_granted("ROLE_ADMIN") %}
                                    <li class="divider"></li>
                                        <li><a href="{{ path('talk_list') }}">Pranešimų administravimas</a></li>
                                    {% endif %}
                                    <li class="divider"></li>
                                    <li><a href="{{ path('logout') }}"><em>Logout</em></a></li>
                                </ul>
                            </li>
                        </ul>
                    {% endif %}
                </div>

                <div class="collapse navbar-collapse" id="nta-navbar">
                    <ul class="nav navbar-default navbar-nav">
                        {% if not is_granted("ROLE_USER") %}
                            <li class="visible-xs visible-sm"><a href="{{ path('login_route') }}">Login</a></li>
                        {% else %}
                            <li class="visible-xs visible-sm"><a href="{{ path('user_profile') }}">My presentations</a></li>
                            <li class="visible-xs visible-sm"><a href="{{ path('user_profile_edit') }}">Profile</a></li>
                            <li class="divider"></li>
                            <li class="visible-xs visible-sm"><a href="{{ path('logout') }}"><em>Logout</em></a></li>
                        {% endif %}
                        <li class="divider"></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About NTA<b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('page_about') }}">Apie (LT)</i></a></li>
                                <li><a href="{{ path('page_about_en') }}">About (EN)</a></li>
                                <li><a href="{{ path('page_faq') }}">FAQ (LT)</a></li>
                            </ul>
                        </li>
                        {% if "now"|date("Y-m-d") <= registration_deadline %}
                        <li><a href="{{ path('talk_register') }}">Registration</a></li>
                        {% endif %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Schedule<b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('talks') }}">Presentations</a></li>
                                <li><a href="{{ path('workshops') }}">Workshops</a></li>
                            </ul>
                        </li>
                        <li><a href="https://goo.gl/forms/ViU1FcTIvdghuhwv1" target="_blank">Volunteer!</a></li>
                        <li><a href="{{ path('page_contacts') }}">Contact Us</a></li>
                        <li><a href="http://blog.notrollsallowed.com/">BLOG</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block body %}{% endblock %}

        <footer class="footer">
            <div class="container">
                <div class="clearfix">
                    <div class="footer-logo">
                        <a href="{{ path('home') }}"><img src="{{ asset('images/logo.png') }}"><br>No Trolls Allowed</a>
                    </div>
                    <dl class="footer-nav">
                        <dt class="nav-title">Follow us</dt>
                        
                        <dd class="nav-item">
                            <a href="https://github.com/ntacamp">GitHub</a>
                        </dd>
                        <dd class="nav-item">
                            <a href="https://www.facebook.com/NoTrollsAllowed">Facebook</a>
                        </dd>
                        <dd class="nav-item">
                            <a href="https://twitter.com/ntacamp">Twitter</a>
                        </dd>
                    </dl>
                    <dl class="footer-nav">
                        <dt class="nav-title">Contact us!</dt>
                        <dd class="nav-item">
                            <a href="mailto:hi@notrollsallowed.com">hi@notrollsallowed.com</a>
                        </dd>
                    </dl>
                </div>
                <div class="footer-copyright text-center">No Trolls Allowed &copy; {{ "now"|date("Y") }}</div>
            </div>
        </footer>

        
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        
        {% block javascripts %}{% endblock %}
        {% javascripts
            'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js'
            'assets/vendor/masonry/dist/masonry.pkgd.min.js'
            'js/site.min.js'
            'js/site.js'
            output='js/compiled/all.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}


        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-41181062-1']);
            _gaq.push(['_setDomainName', 'notrollsallowed.com']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

	</body>
</html>
