<!DOCTYPE html>
<html lang="lt">
	<head>
        <title>No Trolls Allowed 2020 | {% block title %}The first and only Hackercamp in Lithuania!{% endblock%}</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta charset="utf-8">

		<!--== Google Fonts ==-->
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,600,700&amp;subset=latin-ext" rel="stylesheet">

        <link rel="shortcut icon" type="image/png" href="{{ asset('images/favicon.png') }}">
        <link rel="bookmark" type="image/png" href="{{ asset('images/favicon.png') }}">

		<!--== CSS Files ==-->
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        {% stylesheets
            'css/site.min.css'
            filter='cssrewrite' output='css/compiled/all.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets
            'css/main.css'
            filter='cssrewrite' output='css/compiled/main.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets
            'css/md-preview.css'
            filter='cssrewrite' output='css/compiled/md-preview.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

		<!--== FB meta ==-->
        <meta property="og:url" content="{{ url('home') }}">
        <meta property="og:title" content="No Trolls Allowed 2020 | The One Hackercamp of Lithuania">
        <meta property="og:description" content="No Trolls Allowed is an annual open-air hackercamp where hobbies and arts meet technology and awesomeness.">
        <meta property="og:image" content="{{ asset('images/basic-sticker.png') }}"/>
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="310">
        <meta property="og:image:height" content="300">
        
        <link rel="manifest" href="/public/manifest.json">
        <link rel="apple-touch-icon" href="/images/logo192.png">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="#434a54">
        <meta name="apple-mobile-web-app-title" content="No Trolls Allowed">
        <meta name="theme-color" content="#434a54" />

    </head>
    <body data-controller="{{ getControllerName() }}"
          data-action="{{ getActionName() }}">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nta-navbar">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('home') }}">
                        <img src="{{ asset('images/logo.png')}}">
                        <img class="logo-title" src="{{ asset('images/nta_logo_dark.png')}}">
                    </a>
                </div>

                <div class="pull-right hidden-xs hidden-sm">
                    {% if not is_granted("ROLE_USER") %}
                        <a href="{{ path('login_route') }}" class="navbar-btn btn-primary btn">{{ 'header.menu.login'|trans }}</a>
                    {% else %}
                        <ul class="nav navbar-default navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <strong>{{ app.user }}</strong> <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('user_profile') }}">{{ 'header.menu.my_presentation'|trans }}</a></li>
                                    <li><a href="{{ path('user_profile_edit') }}">{{ 'header.menu.profile'|trans }}</a></li>
                                    {% if is_granted("ROLE_ADMIN") %}
                                    <li class="divider"></li>
                                        <li><a href="{{ path('talk_list') }}">{{ 'header.menu.admin_talks' }}</a></li>
                                    {% endif %}
                                    <li class="divider"></li>
                                    <li><a href="{{ path('logout') }}"><em>{{ 'header.menu.logout'|trans }}</em></a></li>
                                </ul>
                            </li>
                        </ul>
                    {% endif %}
                </div>

                <div class="collapse navbar-collapse" id="nta-navbar">
                    <ul class="nav navbar-default navbar-nav">
                        {% if not is_granted("ROLE_USER") %}
                            <li class="visible-xs visible-sm"><a href="{{ path('login_route') }}">{{ 'header.menu.login'|trans }}</a></li>
                        {% else %}
                            <li class="visible-xs visible-sm"><a href="{{ path('user_profile') }}">{{ 'header.menu.my_presentation'|trans }}</a></li>
                            <li class="visible-xs visible-sm"><a href="{{ path('user_profile_edit') }}">{{ 'header.menu.profile'|trans }}</a></li>
                            <li class="divider"></li>
                            <li class="visible-xs visible-sm"><a href="{{ path('logout') }}"><em>{{ 'header.menu.logout'|trans }}</em></a></li>
                        {% endif %}
                        <li class="divider"></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'header.menu.about_nta'|trans }}<b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('page_about') }}">{{ 'header.menu.about'|trans }}</i></a></li>
                                <li><a href="{{ path('page_faq') }}">{{ 'header.menu.faq'|trans }}</a></li>
                            </ul>
                        </li>
                        {% if "now"|date("Y-m-d") <= registration_deadline %}
                        <li><a href="{{ path('talk_register') }}">{{ 'header.menu.registration'|trans }}</a></li>
                        {% endif %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'header.menu.schedule'|trans }}<b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('talks') }}">{{ 'header.menu.talks'|trans }}</a></li>
                                <li><a href="{{ path('workshops') }}">{{ 'header.menu.workshops'|trans }}</a></li>
                            </ul>
                        </li>
                        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScBvYG8GmADS1SuKgPNQfmD2BUPilFZsKygHfibc-D03rFMmg/viewform" target="_blank">{{ 'header.menu.volunteer'|trans }}</a></li>
                        <li><a href="{{ path('page_contacts') }}">{{ 'header.menu.contact_us'|trans }}</a></li>
                        <li><a href="https://medium.com/@ntacamp">{{ 'header.menu.blog'|trans }}</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'header.menu.language'|trans }}<b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/lt">LT</a></li>
                                <li><a href="/en">EN</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block body %}{% endblock %}

        <footer class="footer">
            <div class="container">
                <div class="clearfix">
                    <div class="footer-logo">
                        <a href="{{ path('home') }}"><img src="{{ asset('images/logo.png') }}"><br>No Trolls Allowed</a>
                    </div>
                    <dl class="footer-nav">
                        <dt class="nav-title">{{ 'footer.general.follow_us'|trans }}</dt>
                        
                        <dd class="nav-item">
                            <a href="https://github.com/ntacamp">GitHub</a>
                        </dd>
                        <dd class="nav-item">
                            <a href="https://www.facebook.com/NoTrollsAllowed">Facebook</a>
                        </dd>
                        <dd class="nav-item">
                            <a href="https://twitter.com/ntacamp">Twitter</a>
                        </dd>
                        <dd class="nav-item">
                            <a href="{{ path('page_privacy') }}">{{ 'footer.menu.privacy'|trans }}</a>
                        </dd>
                        <dd class="nav-item">
                            <a href="{{ path('page_terms') }}">{{ 'footer.menu.terms'|trans }}</a>
                        </dd>
                    </dl>
                    <dl class="footer-nav">
                        <dt class="nav-title">{{ 'footer.general.contact_us'|trans }}</dt>
                        <dd class="nav-item">
                            <a href="mailto:hi@notrollsallowed.com">hi@notrollsallowed.com</a>
                        </dd>
                    </dl>
                </div>
                <div class="footer-copyright text-center">No Trolls Allowed &copy; {{ "now"|date("Y") }}</div>
            </div>
        </footer>

        
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        
        {% block javascripts %}{% endblock %}
        {% javascripts
            'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js'
            'js/site.js'
            output='js/compiled/all.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}


        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-41181062-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-41181062-1', {'anonymize_ip': true});
        </script>


    </body>
</html>
