{% extends "EstinaHomeBundle::page-liquid.html.twig" %}

{% block javascripts %}
    {% javascripts
        'assets/vendor/markdown/lib/markdown.js'
        output='js/compiled/md.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content -%}
<div class="row">
    <div class="col-md-10 col-md-offset-1">

        <h1>{{ 'talk.edit.title'|trans }}</h1>

        {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path('talk_list') }}">&laquo; {{ 'global.back'|trans }}</a>
        {% else %}
            <a href="{{ path('user_profile') }}">&laquo; {{ 'global.back'|trans }}</a>
        {% endif %}

        <div class="row">
            <div class="col-md-4">
                <p>{% include "EstinaHomeBundle:Talk:_badges.html.twig" with {'talk': entity} %}</p>
                {% if is_granted("ROLE_ADMIN") and not entity.isAccepted and not entity.isCancelled %}
                    <a href="{{ path('talk_accept', {'id': entity.id}) }}" class="btn btn-info">Approve</a>
                    <a href="{{ path('talk_request', {'id': entity.id}) }}" class="btn btn-warning">Request Changes</a>
                {% endif %}
            </div>
            <div class="col-md-4">
                <blockquote>
                    {{ 'talk.form.speaker'|trans }}:<br>
                    <b>{{ entity.user }}</b><br>
                    <br>
                    {{ 'user.email'|trans }}:<br>
                    <b>{{ entity.user.email }}</b><br>
                    <br>
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote>
                    {{ 'talk.edit.field.created'|trans }}:<br>
                    <b>{{ entity.createdon|date("Y-m-d H:i") }}</b><br>
                    {% if entity.createdon != entity.updatedat %}
                    <br>
                    {{ 'talk.edit.field.updated'|trans }}:<br>
                    <b>{{ entity.updatedat|date("Y-m-d H:i") }}</b> 
                    {% endif %}
                </blockquote>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
            {{ form_start(edit_form) }}
                {{ form_errors(edit_form) }}
                <div id="estina_bundle_homebundle_talk">
                    {% if is_granted("ROLE_ADMIN") %}
                    {{ form_row(edit_form.track) }}
                    {% endif %}
                    {{ form_row(edit_form.type) }}
                    {{ form_row(edit_form.title) }}
                    {{ form_row(edit_form.language) }}
                    <div class="form-group">
                        {{ form_label(edit_form.description) }}
                        {{ form_widget(edit_form.description, {
                            'attr': {'rows': 8}
                        })}}
                        {{ form_errors(edit_form.description) }}
                        <span class="text-note">
                            <a href="http://en.wikipedia.org/wiki/Markdown#Example" target="_blank">Markdown</a> supported
                        </span>
                    </div>
                    <div class="form-group">
                        <hr class="dashed">
                        <div id="preview"></div>
                        <hr class="dashed">
                    </div>
                    {{ form_rest(edit_form) }}
                    <div class="form-group">
                        {{ form_widget(edit_form.submit, {
                            'label': 'global.save',
                            'attr': {'class': 'btn btn-primary btn-lg pull-right'}
                        })}}
                        {% if entity.isCancelled %}
                            <a href="{{ path('talk_restore', {'id': entity.id }) }}" class="navbar-btn btn btn-success">{{ 'talk.edit.restore'|trans }}</a>
                        {% else %}
                            <a href="{{ path('talk_cancel', {'id': entity.id }) }}" class="navbar-btn btn btn-danger">{{ 'talk.edit.cancel'|trans }}</a>
                        {% endif %}
                        <a href="{{ path('user_profile') }}" class="navbar-btn btn">{{ 'global.back'|trans }}</a>
                    </div>
                    {{ form_rest(edit_form) }}
                </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}

