{% extends 'EstinaHomeBundle::page-wide.html.twig' %}

{% block content -%}
    <h1>Talk list</h1>

    <table class="records_list table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Createdon</th>
                <th>Updatedat</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('talk', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>
                    <a href="{{ path('talk', { 'id': entity.id }) }}">{{ entity.title }}</a>
                    <br>{{ entity.user }}
                </td>
                <td>{{ entity.description }}</td>
                <td>{% if entity.createdOn %}{{ entity.createdOn|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    {% include "EstinaHomeBundle:Talk:_badges.html.twig" with {'talk': entity} %}
                </td>
                <td>
                    {% include "EstinaHomeBundle:Talk:_controls.html.twig" with {'talk': entity} %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
