{% extends 'EstinaHomeBundle::page-wide.html.twig' %}

{% block content -%}
<h1>Mano pranešimai</h1>

<div class="talk-group">
{% for talk in talks %}
    <div class="talk">
        <div class="row">
            <div class="col-md-10">
                <h3>
                    <a href="{{ path('talk', {id: talk.id}) }}">{{ talk.title }}</a>
                </h3>
                <p>Scena: <span class="badge badge-primary">{{ talk.track }}</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <p class="list-group-item-text">{{ talk.description }}</p>
            </div>
            <div class="col-md-2">
                <div class="btn-group">
                    <a href="{{ path('talk_edit', {id: talk.id}) }}" class="btn"><i class="glyphicon glyphicon-pencil"></i></a>
                    {# <a href="#" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></a> #}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}