{% extends "EstinaHomeBundle::page.html.twig" %}

{% block title %}Pranešimo registracija{% endblock %}

{% block javascripts %}
    {% javascripts
        'assets/vendor/markdown/lib/markdown.js'
        output='js/compiled/md.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <h1>Pranešimo registracija</h1>

    {#
    <p class="lead">
        <span class="label label-warning">Dėmesio!</span>
        Šiais metais turėsite galimybę iš anksto pasirinkti savo pranešimo pristatymo laiką, tad registracija sudaryta iš dviejų etapų.
    </p>
    <p>
        <strong>I etapo</strong> metu užregistruojate savo pranešimo temą, taip iš anksto rezervuodami sau vietą renginyje.<br>
        <strong>II etapo</strong> metu, iki renginio <strong>likus 2 savaitėm</strong>, turėsite patvirtinti savo dalyvavimą įkeldami 
        savo prezentaciją (ar dalį jos) ir pasirinkdami savo pranešimo pristatymo laiką.
    </p>
    #}

    <hr>
    
    {{ form_start(form) }}
        {{ form_errors(form) }}
        <div id="estina_bundle_homebundle_registertalk">
            {{ form_row(form.user) }}
            {{ form_row(form.title) }}
            {{ form_row(form.track) }}
            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description, {
                    'attr': {'rows': 8}
                })}}
                {{ form_errors(form.description) }}
                <span class="text-note">Aprašymui galite naudoti
                    <a href="http://en.wikipedia.org/wiki/Markdown#Example" target="_blank">Markdown</a>.
                </span>
            </div>
            <div class="form-group">
                <hr class="dashed">
                <div id="preview"></div>
                <hr class="dashed">
            </div>
            {{ form_row(form.submit, {
                'label': 'Registruotis',
                'attr': {'class': 'btn btn-info btn-register'}
            })}}
            {{ form_rest(form) }}
        </div>
    {{ form_end(form) }}

</ul>
{% endblock %}
