{% extends "EstinaHomeBundle::page-liquid.html.twig" %}

{% form_theme form _self %}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif %}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif %}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }} {% if label_attr.text_en is defined %}<em>({{label_attr.text_en}})</em>{% endif %}</label>
    {%- endif -%}
{%- endblock form_label -%}

{% block title %}Registration{% endblock %}

{% block javascripts %}
    {% javascripts
        'assets/vendor/markdown/lib/markdown.js'
        output='js/compiled/md.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1>Registration</h1>

        <div class="row">
            <div class="col-md-8">
                <h3>Main rule - every participant must contribute to the event.</h3>
                <p>
                Please register you presentation or workshop by filling the
                form below. Organizers are going to review your submition in
                near time and confirm the registration or contact you with
                additional requests or recommendations. Please be patient.
                </p>
                <p>
                "TBA" and similar registrations are forwarded to /dev/null.
                </p>
            </div>
            <div class="col-md-4">
                <blockquote>
                    Event date:<br>
                    <b>{{ ntacamp_date }}</b><br>
                    <br>
                    Registration deadline:<br>
                    <b>{{ registration_deadline|date("Y-m-d") }}</b> 
                </blockquote>
            </div>
        </div>
        
        <hr>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% if display %}
                    {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <div id="estina_bundle_homebundle_registertalk">
                            {% if form.user is defined %}
                                {{ form_row(form.user.name) }}
                                {{ form_row(form.user.email) }}
                                {{ form_row(form.user.phone) }}
                                {{ form_rest(form.user) }}
                            {% endif %}
                            <hr class="dashed">
                            {{ form_row(form.type) }}
                            {{ form_row(form.title) }}
                            {{ form_row(form.language) }}
                            <div class="form-group">
                                {{ form_label(form.description) }}
                                {{ form_widget(form.description, {
                                    'attr': {'rows': 8}
                                })}}
                                {{ form_errors(form.description) }}
                                <span class="text-note">
                                    <a href="http://en.wikipedia.org/wiki/Markdown#Example" target="_blank">Markdown</a> supported
                                </span>
                            </div>
                            <div class="form-group">
                                <hr class="dashed">
                                <div id="preview"></div>
                                <hr class="dashed">
                            </div>
                            {{ form_rest(form) }}
                        </div>
                    {{ form_end(form) }}
                {% else %}
                <p>
                Registration is over. If you have any questions <a href="{{ path('page_contacts') }}">contact us</a>.
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
