{% extends "EstinaHomeBundle::page.html.twig" %}

{% block title %}Pranešimo registracija{% endblock %}

{% block javascripts %}
    {% javascripts
        'assets/vendor/markdown/lib/markdown.js'
        output='js/compiled/md.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <h1>Pranešimo registracija</h1>

    <p>
        Pranešimų registracija vyksta iki
        {{ registration_deadline|date("Y-m-d") }}. 
    </p>

    <hr>
    {% if "now"|date("Y-m-d H:i:s") < registration_deadline %}
        {{ form_start(form) }}
            {{ form_errors(form) }}
            <div id="estina_bundle_homebundle_registertalk">
                {{ form_row(form.user) }}
                {{ form_row(form.title) }}
                <div class="form-group">
                    {{ form_label(form.track) }}
                    {{ form_widget(form.track) }}
                    {{ form_errors(form.track) }}
                    <span class="text-note">
                        <a href="{{ path('page_faq') }}#kuo-skiriasi-scenos" target="_blank">Čia rasite scenų aprašymus.</a>
                    </span>
                </div>
                <div class="form-group">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description, {
                        'attr': {'rows': 8}
                    })}}
                    {{ form_errors(form.description) }}
                    <span class="text-note">Aprašymui galite naudoti
                        <a href="http://en.wikipedia.org/wiki/Markdown#Example" target="_blank">Markdown</a>.
                    </span>
                </div>
                <div class="form-group">
                    <hr class="dashed">
                    <div id="preview"></div>
                    <hr class="dashed">
                </div>
                {{ form_row(form.submit, {
                    'label': 'Registruotis',
                    'attr': {'class': 'btn btn-info btn-register'}
                })}}
                {{ form_rest(form) }}
            </div>
        {{ form_end(form) }}
    {% else %}
    <p>
    Pranešimų registracija pasibaigė. Jeigu turite klausimų ar pasiūlymų,
    <a href="{{ path('page_contacts') }}">susisiekite</a> su mumis.
    </p>
    {% endif %}
{% endblock %}
