{% extends "EstinaHomeBundle::page.html.twig" %}

{% block content %}
    <h1>Pranešimo registracija</h1>

    {#
    <p class="lead">
        <span class="label label-warning">Dėmesio!</span>
        Šiais metais turėsite galimybę iš anksto pasirinkti savo pranešimo pristatymo laiką, tad registracija sudaryta iš dviejų etapų.
    </p>
    <p>
        <strong>I etapo</strong> metu užregistruojate savo pranešimo temą, taip iš anksto rezervuodami sau vietą renginyje.<br>
        <strong>II etapo</strong> metu, iki renginio <strong>likus 2 savaitėm</strong>, turėsite patvirtinti savo dalyvavimą įkeldami 
        savo prezentaciją (ar dalį jos) ir pasirinkdami savo pranešimo pristatymo laiką.
    </p>
    #}

    <hr>
    
    {{ form_start(form) }}
        {{ form_errors(form) }}
        <div id="estina_bundle_homebundle_registertalk">
            {{ form_row(form.user) }}
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.track) }}
            {{ form_row(form.submit, {'label': 'Registruotis'}) }}
            {{ form_rest(form) }}
        </div>
    {{ form_end(form) }}
</ul>
{% endblock %}
