{% extends 'EstinaHomeBundle::page-wide.html.twig' %}

{% block content -%}
    
    <div class="welcome-page">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {{ 'registration.success.text'|trans|raw }}

                <p class="text-center">
                    <br>
                    <a href="{{ path('login_route') }}" class="btn btn-primary btn-lg">{{ 'user.button.login'|trans }}</a>
                    <br>
                </p>

                <p>
                    <br>
                <p> {{ 'about.text.mail_us'|trans }} <a href="mailto:hi@notrollsallowed.com">hi@notrollsallowed.com</a>{{ 'registration.success.follow_us'|trans|raw }}
                </p>
            </div>
        </div>
    </div>

</ul>
{% endblock %}
