{% extends "EstinaHomeBundle::page-wide.html.twig" %}
{% trans_default_domain 'translations' %}
{% block content %}
<div class="about-page">
		
    <h1>{{ 'about.text.about'|trans }} {{ 'about.text.nta'|trans }}</h1>

	<div class="hacker">
		<h4>hacker</h4>
		<strong>/ˈhakə/</strong>

		<p>
			<small>noun</small><br>
			<small>noun: <strong>hacker</strong>; plural noun: <strong>hackers</strong></small>
		</p>

		<ol>
			<li class="strike">a person who uses computers to gain unauthorized access to data.</li>
			<li>a person who uses nonconventional methods or tools to achieve something awesome.</li>
		</ol>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			
		    <p><strong>{{ 'about.text.nta'|trans }}</strong> {{ 'about.text.about_nta'|trans }}</p>
			
			<p>
				<img src="/images/professions.png" alt="Professions">
			</p>
		    

		    <p>{{ 'about.text.pre_how_to_attend'|trans }}
		    </p>

		    <ul>
		    	<li>{{ 'about.text.how_to_attend_opt1'|trans|raw }}</li>
		    	<li>{{ 'about.text.how_to_attend_opt2'|trans|raw }}</li>
		    	<li>{{ 'about.text.how_to_attend_opt3'|trans|raw }}</li>
		    </ul>

		    <p>{{ 'about.text.policy_about_foreigners'|trans }}</p>

			<p> {{ 'about.text.mail_us'|trans }} <a href="mailto:hi@notrollsallowed.com">hi@notrollsallowed.com</a>{{ 'about.text.fb_us'|trans }}</p>

			<h2>{{ 'about.text.nta_history_title'|trans }}</h2>
			{{ 'about.text.nta_history'|trans|raw }}

			<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FNoTrollsAllowed%2F&tabs=messages&width=500&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1796467907334809" width="500" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>


		</div>
	</div>



</div>
{% endblock %}
