{% extends "EstinaHomeBundle::page.html.twig" %}

{% block content %}
    <h1>{{ "header.menu.contact_us"|trans }}</h1>
    <p>{{ "contacts.text.contact_us"|trans }}</p>

    {{ "contacts.list.contacts"|trans|raw }}

    <h2>{{ "contacts.title.for_sponsors"|trans }}</h2>
    <p>{{ "contacts.text.for_sponsors"|trans|raw }}</p>

    <h2>{{ "contacts.title.organized_by"|trans }}</h2>
    <p>{{ "contacts.text.organizers"|trans|raw }}</p>

{% endblock %}
