{% extends "EstinaHomeBundle::page.html.twig" %}
{% trans_default_domain 'translations' %}
{% block content %}
<h1>{{ 'faq.general.faq'|trans }}</h1>

<h3><em>{{ 'faq.general.faq_full'|trans }}</em></h3>
<h4>{{ 'faq.questions.groups.general'|trans }}</h4>
        <ul>
                {% for i in 1..13 %}
                        <li><a href="#{{ ('faq.questions.general.question' ~ i ~ '.slug')|trans }}">{{ ('faq.questions.general.question' ~ i ~ '.question')|trans }}</a></li>
                {% endfor %}
        </ul>
<h4>{{ 'faq.questions.groups.presentations'|trans }}</h4>
        <ul>
                {% for i in 1..9 %}
                        <li><a href="#{{ ('faq.questions.presentations.question' ~ i ~ '.slug')|trans }}">{{ ('faq.questions.presentations.question' ~ i ~ '.question')|trans }}</a></li>
                {% endfor %}
        </ul>
<h4>{{ 'faq.questions.groups.volunteering'|trans }}</h4>
        <ul>
                {% for i in 1..4 %}
                        <li><a href="#{{ ('faq.questions.volunteering.question' ~ i ~ '.slug')|trans }}">{{ ('faq.questions.volunteering.question' ~ i ~ '.question')|trans }}</a></li>
                {% endfor %}
        </ul>
<h4>{{ 'faq.questions.groups.other'|trans }}</h4>
        <ul>
                {% for i in 1..2 %}
                        <li><a href="#{{ ('faq.questions.other.question' ~ i ~ '.slug')|trans }}">{{ ('faq.questions.other.question' ~ i ~ '.question')|trans }}</a></li>
                {% endfor %}
        </ul>
        <hr>
<h4>{{ 'faq.questions.groups.general'|trans }}</h4>
{% for i in 1..13 %}
<h2 id="{{ ('faq.questions.general.question' ~ i ~ '.slug')|trans }}">{{ ('faq.questions.general.question' ~ i ~ '.question')|trans }}</h2>
<p>{{ ('faq.questions.general.question' ~ i ~ '.answer')|trans|raw }}</p>
{% endfor %}
<h4>{{ 'faq.questions.groups.presentations'|trans }}</h4>
{% for i in 1..9 %}
        <h2 id="{{ ('faq.questions.presentations.question' ~ i ~ '.slug')|trans }}">{{ ('faq.questions.presentations.question' ~ i ~ '.question')|trans }}</h2>
        <p>{{ ('faq.questions.presentations.question' ~ i ~ '.answer')|trans|raw }}</p>
{% endfor %}
<h4>{{ 'faq.questions.groups.volunteering'|trans }}</h4>
{% for i in 1..4 %}
        <h2 id="{{ ('faq.questions.volunteering.question' ~ i ~ '.slug')|trans }}">{{ ('faq.questions.volunteering.question' ~ i ~ '.question')|trans }}</h2>
        <p>{{ ('faq.questions.volunteering.question' ~ i ~ '.answer')|trans|raw }}</p>
{% endfor %}
<h4>{{ 'faq.questions.groups.other'|trans }}</h4>
{% for i in 1..2 %}
        <h2 id="{{ ('faq.questions.other.question' ~ i ~ '.slug')|trans }}">{{ ('faq.questions.other.question' ~ i ~ '.question')|trans }}</h2>
        <p>{{ ('faq.questions.other.question' ~ i ~ '.answer')|trans|raw }}</p>
{% endfor %}


{% endblock %}
