{% extends "EstinaHomeBundle::page.html.twig" %}

{% block content %}
    <h1>Prisijungimas dalyviams</h1>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData) }}</div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="post">

        {{ form_row(loginForm._username, { 'label': 'El.paštas' }) }}
        {{ form_row(loginForm._password, { 'label': 'Slaptažodis' }) }}
        {{ form_rest(loginForm) }}

        <div>
            <button type="submit" class="btn btn-info">Prisijungti</button>
            <small><a href="{{ path('user_password_reset') }}">Priminti slažtažodį</a></small>
        </div>

    </form>
{% endblock %}
