{% extends "EstinaHomeBundle::page.html.twig" %}

{% block content %}
<h1>{{ 'password.reset.title'|trans }}</h1>
<form action="{{ path('user_password_reset') }}" method="post">

    {{ form_row(resetForm.email, {'label':'user.email'}) }}
    {{ form_rest(resetForm) }}

    <button type="submit" class="btn btn-info">{{ 'password.reset.button'|trans }}</button>
</form>
{% endblock %}
